<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | <%= title %></title>
</head>
<body>
    <%- include("./partial/nav.ejs") %>

    <div class="container text-center py-5 my-5">
        <div class="404 fs-1 fw-bold">404!</div>
        <span class="fw-bold">Looks Like You are Lost</span>
    </div>

</body>
</html>