<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs | <%= title %></title>
  </head>
  <body>
    <%- include("./partial/nav.ejs") %>

    <h2 class="banner text-center py-5">ABOUT</h2>

    <div class="about-container container">
      <div class="row">
        <div class="about-image-container text-center col-12 col-md-6">
          <img
            src="https://www.f6s.com/content-resource/profiles/2691124_original.jpg"
            alt="aalim aslam"
            class="w-50 py-3"
          />
        </div>
        <div class="text-container col-12 col-md-6">
          <h2 class="heading">
            Who we are? , What we Do?, What Makes us Handy?
          </h2>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
            minima placeat et illo excepturi rerum magnam hic non earum dicta,
            laudantium enim pariatur temporibus ipsa? Culpa laudantium, atque
            numquam rem perferendis eos nisi voluptatibus qui? Voluptates
            possimus minima vel ea! Aperiam quisquam excepturi corrupti soluta
            quod voluptates repellat? Ea soluta omnis quis praesentium ipsum
            esse rerum. Et dolores vitae exercitationem omnis laudantium laborum
            saepe odit sequi, voluptatem, iste quia, quas labore voluptate
            consequatur ea? Nostrum assumenda suscipit unde commodi, impedit
            natus animi eaque, dolor ea eius sunt dolorem molestiae! Expedita
            reprehenderit repudiandae voluptate dignissimos cumque, reiciendis
            veritatis alias fugiat.
          </p>
        </div>
      </div>
    </div>

    <%- include("./partial/footer.ejs") %>

  </body>
</html>
