<nav id="sidebar" class="active bg-dark rounded col-3 h-100 my-4 mx-2 w-25 p-3">
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="/25680/admin" class="text-dark px-3 py-1 bg-light my-3 rounded">
        Dashboard</a
      >
    </li>
    <li class="my-3 w-100">
      <a
        href="/25680/admin/posts"
        class="text-dark px-3 py-1 bg-light my-3 rounded"
      >
        Posts</a
      >
    </li>
    <li class="my-3 w-100">
      <a
        href="/25680/admin/settings"
        class="text-dark px-3 py-1 bg-light my-3 rounded"
      >
        Setting</a
      >
    </li>
  </ul>

  <div class="footer text-white">
    <p>
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved | This template is made by
      <a href="https://instagram.com/aalim_aslam" target="_blank">Aalim aslam</a>
    </p>
  </div>
</nav>
